.dynoblock-region.active {
  border: 3px dashed #1a5ca0;
  cursor: pointer;
  .dynoblock{
    border-radius: 5px;
    margin: 20px 10px;
    padding-bottom:10px;
    border-bottom: 1px dotted #ccc;
    .dynoblock-content{
      margin-left: 20px;
    }
  }
  .dynoblock.active{
    background: #1a5ca0;
    color: white;
    padding-top: 5px;
    padding-bottom:5px;
   // border-top: 1px solid #d0d0d0;
  }
  .dyno-add-block{
    padding: 10px 10px;
  }
  .dyno-drag-element {
    position: absolute;
    //top: 30%;
    cursor: move;
    float: left;
    height: 1.7em;
    margin-left: -1em;
    overflow: hidden;
    text-decoration: none;
  }
}

.dynoblock-region {
  .dyno-add-block{
    width: 100%;
    padding: 10px 0px;
  }
  .dynoblock{
    position: relative;
    clear: both;
  }
}

.dynoblock-body {
  width:100%;
}

.dynoblock.active {
  position: relative;
  min-height: 25px;
  cursor: pointer;
}

.dynoblock-actions {
  position: absolute;
  top: -20px;
  right: 0px;
}


#dynoblock-form {
  padding-bottom:20px;
  float: left;
  width:100%;
  display: inline-block;
  .dynoblock-form-container{
    float:left;
  }
  .dyno-theme-preview{
    img{
      width:100% !important;
      height:auto !important;
    }
  }
  .form-type-checkboxes {
    max-height: 150px;
    overflow-y: scroll;
    .form-type-checkbox{
      padding-left: 20px;
    }
  }
  .form-item{
    float:left;
    clear:both;
    width:100% !important;
  }
  .form-group{
    margin: 10px 0px 10px 0px;
  }
  .dynoblock-form-actions{
    clear: both;
    width: 100%;
    float: left;
  }
  .dyno-token-tree{
    width:100%;
    float: left;
    clear: both;
  }
  .dyno-condition{
    width:100%;
  }
  .dyno-weight{
    width: 100%;
  }
  .dyno-widget-settings-container{
    margin-top: 20px;
  }
  fieldset {
    clear: left;
  }
}


/**
 * WIDGET SELECTION
 */
 #dyno-widget-selector{
  .dyno-navigation{
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .widget-actions-wrapper{
    overflow: hidden;
    margin-top: 20px;
  }
  .widget-actions-wrapper .btn-success{
    float:left;
  }
  .widget-actions-wrapper .btn-danger{
    float:right;
  }

  .modal-body{
    width:100%;
    display: inline-block;
    max-height: 800px;
    overflow-y: scroll;
  }
}

/**
 * Dyno Ui
 */
.dyno-ui {
  .dyno-toggle {
    font-size: 20px;
    font-weight: bold;
    top: 55%;
    width: 80px;
    float: right;
    color: #000;
    .dyno-label {
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: top left 0;
      transform: rotate(-90deg);
      transform-origin: top left 0;
      float: right;
      position: absolute;
      top: 50%;
      margin: 10px;
    }
    .dyno-expand {
      float: right;
      position: absolute;
      top: 30%;
      margin: 20px;
      color: #333;
      font-size: 18px;
    }
    .dyno-back {
      display: none;
    }
  }
}


.dyno-ui.open{
  color:black;
  .dyno-ui-content{
    float:right;
    .dyno-ui-region.dyno-editable{
      .list-group{
        li{
          padding-left: 5px;
          padding-right:5px;
          text-align: left;
          span{
            padding-left:10px;
          }
        }
      }
    }
    .list-group {
      button{
        display: none;
      }
      cursor: pointer;
    }
  }
}

/** D8 styles */

.dyno-ui.menu {
  font-weight: 100;
  background: #efefef;
  width: 530px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  cursor: pointer;
  -webkit-box-shadow: 5px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 0px 2px 0px rgba(0, 0, 0, 0.2);
  left: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #222;
  &.closed {
    left: -450px;
  }

  .title {
    position: absolute;
    top: 40%;
    right: -30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    font-weight: 800;
    font-size: 15px;
    .dyno-expand {
      padding: 5px;
    }
  }

  .region-title {
    float: right;
    font-weight: 400;
  }

  .nav {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 400px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 100;
    li:first-child {
      padding-top: 20px;
      padding-bottom: 20px;
      list-style-type: none;
      border-top: none;
    }

    li {
      padding-top: 20px;
      padding-bottom: 20px;
      list-style-type: none;
      border-top: solid 2px #ccc;

      a {
        text-decoration: none;
        border-bottom-style: none;
        color: inherit;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        padding-right: 20px;
        font-weight: 900;
        a:hover {
          color: #333;
        }
      }
    }
    .dyno-ui-actions {
      padding-left: 1em;
      font-size: 1em;
      span.action {
        text-decoration: none;
        color: inherit;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        padding-right: 20px;
        font-weight: 900;
        font-size: 1.5em;
      }
    }
  }

  .d-icons {
    float: right;
    a {
      text-decoration: none;
      border-bottom-style: none;
      color: inherit;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      padding-right: 20px;
      font-weight: 900;
      a:hover {
        color: #333;
      }
    }
  }
}

