{% set tag = component_data.fields.tag.value %}
{% if tag is not empty %}
<div class="{{ component_data.theme }}">
    {% set classes = component_data.fields.class_name %}
    {% if classes is not empty %}
        <{{ tag }} class="{{ classes }}">
        {{ component_data.fields.title }}
        </{{ tag }}>
    {% else %}
        <{{ tag }}>
        {{ component_data.fields.title }}
        </{{ tag }}>
    {% endif %}
    </div>
{% endif %}
